In [1]:
cd Downloads

C:\Users\David R\Downloads

In [2]:
pwd

'C:\\Users\\David R\\Downloads'

In [3]:
import pandas as pd

In [5]:
people_df = pd.read_csv("people428.csv")

In [6]:
people_df.head()

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0

In [7]:
people_df.describe()

                id         Income
count   996.000000     998.000000
mean    500.213855   84691.693387
std     289.172174   20185.664319
min       1.000000   50013.000000
25%     249.750000   67353.000000
50%     500.000000   84296.000000
75%     750.250000  102374.750000
max    1000.000000  119987.000000